.single-list {
  background-color: rgb(235, 243, 243);
  width: 80%;
  padding-left: 1rem;
  padding: 7px 1rem;
  margin: 0.5rem auto;
  border: 2px solid;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.btn-edit {
  color: green;
  border: none;
}
.btn-remove {
  color: red;
  border: none;
}
